.git/
.idea/
node_modules/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.log
**/*.err.log

.env
backend/.env
web/.env
mobile/

seed_deploy/
seed-backend/
test_outputs/

*.pt
*.onnx
!backend/model/*.onnx

backend/.venv/
backend/storage/
web/dist/
